body {
@font-face {
    font-family: Apple Chancery;
    src: url(portfolio/public/Apple Chancery 2.ttf);
}
background-color: aliceblue;
}

#todo-app {
    margin: auto;
    width: 300px;
}
#task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: left;
    display: flex;
    flex-direction: row;
}
#task-list li div.task-label {
    font-size: 14px;
    display: flex;
    flex-grow: 1;
}
#task-list li.completed {
    background-color: aqua;
}
h1 {
    text-align: center;
}
button {
    stroke: blue;
    color: blueviolet;
    border-radius: 8px;
}